body{
	padding-top: 50px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.corner-btns{
	float: right;
	margin-top: -2.4em;
}
.tags{
	margin-right: 1em;
	font-weight: 100;
	letter-spacing : 1px;
}
.onizuka{
	margin-bottom: 3em;

	dt, dd{
		line-height: 2em;
	}
}
.dl-horizontal dt{
	width: 10%;
}
.dl-horizontal dd{
	width: 88%;
	margin-left: 12%;
}

.preview{
	width: 100%;
}

.ace_editor{
	height: 100%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}